.header {
  width: 1920px;
  height: 1080px;
  margin: auto;
  position: relative;
  @media screen and (max-width: 1920px) {
    width: 100%;
    height: 1080px;
  }
  @media screen and (max-width: 1440px) {
    width: 100%;
    height: 756px;
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
    height: 555px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 350px;
  }
  @media screen and (max-width: 425px) {
    width: 100%;
    height: 250px;
  }
}

.main_block_cover {
  width: 100%;
  height: 100%;
  //position: absolute;
  background-image: url(../img/galery.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;

}

.main_block {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

.picture_monna {
  position: absolute;
  width: 295px;
  height: 435px;
  z-index: 100;
  background: red;
  margin-left: 820px;
  margin-top: -775px;

  background-image: url(../img/monna.jpg);
  -webkit-background-size: cover;
  background-size: cover;


  @media screen and (max-width: 1920px) {
    width: 295px;
    height: 435px;
    margin-left: 820px;
    margin-top: -775px;
  }

  @media screen and (max-width: 1440px) {
    width: 221px;
    height: 325px;
    margin-left: 615px;
    margin-top: -530px;
  }
}


.block_picture_left {
  z-index: 100;
  position: absolute;
  -webkit-perspective: 300px;
  perspective: 1000px;
  margin-top: -1080px;

  @media screen and (max-width: 1440px) {
    margin-top: -840px;
    margin-left: -30px;
  }
}

.picture_left {
  width: 201px;
  height: 390px;
  z-index: 100;
  display: block;
  position: relative;
  transform-style: preserve-3d;
  background-image: url(../img/monna.jpg);
  -webkit-background-size: cover;
  background-size: cover;

  margin: 340px -17px 400px 73px;
  transform: rotateX(3deg) rotateY(50deg) rotateZ(2deg) translateX(36px) translateY(4px) translateZ(14px);

  //margin: 350px -17px 400px 75px;
  //transform: rotateX(3deg) rotateY(50deg) rotateZ(2deg) translateX(36px) translateY(4px) translateZ(14px);


  @media screen and (max-width: 1440px) {
    width: 183px;
    height: 295px;
    margin: 340px -17px 400px 75px;
    transform: rotateX(4deg) rotateY(57deg) rotateZ(1deg) translateX(29px) translateY(2px) translateZ(3px);

  }
}


//////// Right

.block_picture_right{
  z-index: 100;
  position: absolute;
  -webkit-perspective: 300px;
  perspective: 1000px;
  margin-top: -1040px;
  right: 130px;

  @media screen and (max-width: 1440px) {
    margin-top: -840px;
    margin-left: -30px;
  }
}
.picture_right{
  width: 179px;
  height: 345px;
  z-index: 10000;
  display: block;
  position: relative;
  transform-style: preserve-3d;
  //background-image: url(../img/monna.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background: green;

  margin: 340px -34px 357px 100px;
  transform: rotateX(6deg) rotateY(-54deg) rotateZ(0deg) translateX(31px) translateY(8px) translateZ(17px);

  @media screen and (max-width: 1440px) {
    width: 158px;
    height: 265px;
    margin: 360px -68px 357px 100px;
    transform: rotateX(5deg) rotateY(-62deg) rotateZ(0deg) translateX(37px) translateY(8px) translateZ(17px);
  }
}